<!--COMMENT VIEW STARTS HERE-->
<!--complete logic for vehicle view-->
<% if (title == 'Create Vehicle') { %>
   
<% } else if (title == 'Delete Vehicle') { %>
     
<% } else if (title == 'Update Vehicle') { %>
    
<% } else if (title == 'Vehicle Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single vehicle</h1>
             <p>I am an vehicle for this ID = <%= vehicle.id %></p>
             <p>Vehicle Manufacturer: <%= vehicle.manufacturer %></p>
             <p>Vehicle Model: <%= vehicle.model %></p>
                <p>Vehicle color: <%= vehicle.color %></p>
        </div>
    </div>
<% } else if (title == 'Vehicle List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% vehicles.forEach(function(vehicle) { %>
                <li>
                    <h4><a href="/blog/vehicle/<%= vehicle.id %>"><%= vehicle.manufacturer %></a></h4>
                    <p>This is the model of the vehicle: <%= vehicle.model %></p>

                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>
<% } else { %>

<% } %>
<!--COMMENT VIEW END HERE-->